@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .bg-gradient-radial {
      background-image: radial-gradient(circle, var(--tw-gradient-stops));
    }
  }
  @layer utilities {
    .bg-gradient-radial {
      background: radial-gradient(circle, rgba(77, 170, 138, 0.8) 30%, rgba(77, 170, 138, 0) 70%);
    }
  }
  @import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';
  @import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';

body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}